{% extends "base.html" %}
{% block content %}
        <div id="carousel" class="carousel slide">
            <div class="carousel-inner">
                {% if lang == 'cn' -%}
                <div class="item active">
                    <img src="/static/img/upload/top.jpg" alt=""></img>
                </div>
                {%- else -%}
                <div class="item active">
                    <img src="/static/img/upload/top.jpg" alt=""></img>
                </div>
                {%- endif -%}
            </div>
        </div>

        <ul class="thumbnails">
            <li class="span4">
                <div class="thumbnail image-with-text">
                <a href="/{{ lang }}/reconstruct/qingsuan/">
                    <img src="/static/img/upload/liquidation.jpg" alt=""></img>
                    <h4>{%- if lang == 'cn' -%}清算{%- else -%}清算{%- endif -%}</h4>
                </a>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail image-with-text">
                <a href="/{{ lang }}/reconstruct/hebing/">
                    <img src="/static/img/upload/M-A.jpg" alt=""></img>
                    <h4>{%- if lang == 'cn' -%}合并{%- else -%}合併{%- endif -%}</h4>
                </a>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail image-with-text">
                <a href="/{{ lang }}/reconstruct/guquanzhuanrang/">
                    <img src="/static/img/upload/equity-transfer.jpg" alt=""></img>
                    <h4>{%- if lang == 'cn' -%}股权转让{%- else -%}持分譲渡{%- endif -%}</h4>
                </a>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail image-with-text">
                <a href="/{{ lang }}/reconstruct/farengongsisheli/">
                    <img src="/static/img/upload/WFOE-set-up.jpg" alt=""></img>
                    <h4>{%- if lang == 'cn' -%}法人公司设立{%- else -%}現地法人の設立{%- endif -%}</h4>
                </a>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail image-with-text">
                <a href="/{{ lang }}/reconstruct/fengongsi/">
                    <img src="/static/img/upload/RO-Branch.jpg" alt=""></img>
                    <h4>{%- if lang == 'cn' -%}分公司、常驻代表机构设立及注销{%- else -%}分公司、駐在員事務所の設立及び抹消{%- endif -%}</h4>
                </a>
                </div>
            </li>
            <li class="span4">
                <div class="thumbnail image-with-text">
                <a href="/{{ lang }}/reconstruct/biangeng/">
                    <img src="/static/img/upload/alteration.jpg" alt=""></img>
                    <h4>{%- if lang == 'cn' -%}变更{%- else -%}変更{%- endif -%}</h4>
                </a>
                </div>
            </li>
        </ul>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    !function ($) {
        $(function(){
            $('#carousel').carousel()
        })
    }(window.jQuery)
    </script>
{% endblock %}