{% extends "base.html" %}
{% block content %}
    {%- if head_image -%}
        <img src="{{ head_image }}"></img>
    {%- endif %}
    <div id="page-wrapper" class="row-fluid">
        <div class="span3">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        <a href="{{ family[1] }}">{{ family[0] }}</a>
                    </li>
                    {%- if family|count > 2 -%}
                        <li class="divider"></li>
                        {%- for item in family[2::2] -%}
                        <li><a href="{{ family[loop.index*2+1] }}">{{ item }}</a></li>
                        {%- endfor %}
                    {%- endif %}
                </ul>
            </div>
        </div><!--/span-->
        <div class="span9">
            <h2>{{ page.meta.title }}</h2>
            <hr />
            {%- if posts -%}
            <ul>
                {%- for post in posts -%}
                <li><a href="{{ url_for('page', path=post.path) }}">{{ post.meta.title }}</a></li>
                {%- endfor %}
            </ul>
            {%- else -%}
            <p>{{ page.meta.date }}</p>
            <div id="page-content">
                {{ page }}
            </div>

            <hr />
            <div class="row-fluid">
                <div class="span4">
                    {%- if family.index('/'+page.path) - 3 > 1 -%}
                    <a href="{{ family[family.index('/'+page.path) - 2] }}" class="pull-left">
                        <span class="label"><i class="icon-arrow-left icon-white"></i> {{ family[family.index('/'+page.path) - 3] }}</span>
                    </a>
                    {%- endif %}
                </div>
                <div class="span4 text-center">
                    <a href="/{{lang}}/">
                        <span class="label"><i class="icon-arrow-up icon-white"></i> top</span>
                    </a>
                </div>
                <div class="span4">
                    {%- if family.index('/'+page.path) + 2 < family|count -%}
                    <a href="{{ family[family.index('/'+page.path) + 2] }}" class="pull-right">
                        <span class="label">{{ family[family.index('/'+page.path) + 1] }} <i class="icon-arrow-right icon-white"></i></span>
                    </a>
                    {%- endif %}
                </div>
            </div>
            {%- endif %}
        </div><!--/span-->
    </div>
{% endblock %}

    {% block scripts %}
    <script type="text/javascript">
        $('table').addClass('table table-bordered table-hover');
    </script>
    {% endblock %}
