<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Denchi | {% if lang == 'cn' %} 传智 {% else %} 伝智 {% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet" media="screen">
    {% if lang == 'jp' %}
    <link href="/static/css/jp.css" rel="stylesheet" media="screen">
    {% endif %}
</head>
<body>

    <div class="container">

        <!-- header
        ================================================== -->
        <div id="header" class="clearfix">
            <div id="company-name" class="pull-left">
                {% if lang == 'cn' %} <a href="/cn/"> {% else %} <a href="/jp/"> {% endif %}<img src="/static/img/logo.png" alt="Denchi"></img></a><br/>
                {% if lang == 'cn' %} <a href="/cn/">传智咨询有限公司 {% else %} <a href="/jp/">伝智コンサルティング有限公司 {% endif %}</a>
            </div>
            <p id="language" class="pull-right">
                <span class="badge {% if lang == 'cn' %}badge-success{%- endif -%}"><a href="/cn/">中文</a></span>
                <span class="badge {% if lang == 'jp' %}badge-success{%- endif -%}"><a href="/jp/">日本語</a></span>
            </p>
        </div>

        <!-- navigator
        ================================================== -->
        {% if lang == 'cn' -%}
            {% include 'rendered_navigation_cn.html' %}
        {%- else -%}
            {% include 'rendered_navigation_jp.html' %}
        {%- endif -%}

        <!-- content
        ================================================== -->
        {% block content %}{% endblock %}

        <!-- Footer
        ================================================== -->

        <div id="footer-box" class="row-fluid">
                <div class="span8">
                    {% if lang == 'cn' -%}
                    <h4>联系我们</h4>
                    <p>
                        <i class="icon-map-marker"></i>
                        中国深圳市罗湖区 <br />
                        <i class="icon-none"></i> 深南东路5016号  京基100大厦21层 <br />
                        <i class="icon-none"></i> 传智咨询有限公司 <br />
                        <i class="icon-none"></i> 邮编 518001
                    </p>
                    {%- else -%}
                    <h4>お問合わせ</h4>
                    <p>
                        <i class="icon-map-marker"></i>
                        中国深セン市羅湖区 <br />
                        <i class="icon-none"></i> 深南東路5016号  京基100ビル21階 <br />
                        <i class="icon-none"></i> 伝智コンサルティング有限公司 <br />
                        <i class="icon-none"></i> 郵便番号 518001
                    </p>
                    {%- endif -%}
                    <p> <i class="icon-comment"></i> +86 755 22209446
                        <i class="icon-comment"></i> +86 755 22966926
                        <i class="icon-comment"></i> +86 755 22966929 <br />
                        <i class="icon-envelope"></i> <a href="mailto:richard.wang@denchi.cn">richard.wang@denchi.cn</a>
                        <i class="icon-envelope"></i> <a href="mailto:benjamin.li@denchi.cn">benjamin.li@denchi.cn</a>
                        <i class="icon-envelope"></i> <a href="mailto:crystal.yu@denchi.cn">crystal.yu@denchi.cn</a>
                    </p>
                </div>
        </div>
        <div id="footer" class="clearfix">
            {% if lang == 'cn' -%}
                &copy; 传智咨询有限公司 2013
                <a href="{{ url_for('page', path='/cn/law/exemption') }}">免责声明</a>
                <a href="{{ url_for('page', path='/cn/law/about') }}">关于本网站</a>
            {%- else -%}
                &copy; 伝智コンサルティング有限公司 2013
                <a href="{{ url_for('page', path='/jp/law/exemption') }}">免責事項</a>
                <a href="{{ url_for('page', path='/jp/law/about') }}">本サイトに関して</a>
            {%- endif -%}
        </div>

    </div>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $('.dropdown-toggle').click(function(e) {
        e.preventDefault();
        setTimeout($.proxy(function() {
            if ('ontouchstart' in document.documentElement) {
                $(this).siblings('.dropdown-backdrop').off().remove();
            }
        }, this), 0);
    });
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>