            <!-- menu -->
            <nav id = "main-nav-menu">
              <ul class="sf-menu">
              {%- for terms in nav -%}
                <li><a href="{{ terms[1] }}">{{ terms[0] }}</a>
                  {%- if terms|count > 2 -%}
                  <ul>
                    {%- for term in terms[2::2] %}
                    <li><a href="{{ terms[loop.index*2+1] }}">{{ term }}</a></li>
                    {%- endfor %}
                  </ul>
                  {%- endif %}
                </li>
              {%- endfor %}
              </ul>
            </nav>
            <!-- end menu -->