body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Microsoft YaHei UI','Microsoft YaHei',SimSun,'Segoe UI',Tahoma,Helvetica,Sans-Serif;
}
h1 a:hover {text-decoration: none;}

.navbar {margin-bottom: -2px;}
.company-name {
    margin: 20px 0;
    font-family: 'Jockey One', sans-serif;
    font-size: 400%;
}
.company-name span {color: #0f0;}

.carousel .item {
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}
.carousel-caption {
    background: transparent url(/static/img/transparent.png) repeat scroll 0 0;
}
.carousel-caption h2,
.carousel-caption p {
    margin: 20px;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

#content-box {margin: 20px 0;}
#sitemap {
    clear: both;
    padding: 10%;
    background-color: #eee;
    color: #666;
}
#footer {
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #333;
}